* {
  margin: 0; 
  margin-inline: auto;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
}
  
.container {
  width: 384px;
  background-color: #FFFFFF;
  border: 1px solid #111111;
  border-radius: 20px;
  padding: 24px;
  margin-top: 218px;
  margin-left: 528px;
  margin-right: 528px;
  margin-bottom: 219px;
}
 .learn {
  width: 82px;
  border-radius: 4px;
  border: 1px solid #F4D04E;
  background-color: #F4D04E;
  margin-bottom: 12px;
  margin-left: 0px;
  margin-top: 12px;

 }
 
 .learn h2 {
 width: 58px;
 font-size: 14px;
 font-weight: 800;
 line-height: 21px;
 text-align: left;
 color: #111111;
 }

 .head {
  width: 336px;
 }
 .bir {
  width: 143px;
  color: #111111;
  font-family: Figtree;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  margin-bottom: 12px;

 }

 .kutu2 h2 {
   width: 336px;
   font-family: Figtree;
   font-size: 24px;
   font-weight: 800;
   line-height: 36px;
   text-align: left;
   color: #111111;
 }

.kutu2 p {
width: 336px;
font-family: Figtree;
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: left;
color: #7F7F7F;
margin-bottom:24px ;
}

.iletisim {
 width: 129px;
 gap: 12px;
 margin-left: 0px;
}

.iletisim img {
  background-color: #FFFFFF;
  width: 32px;
  float: left;
}

.iletisim h5 {
font-family: Figtree;
font-size: 14px;
font-weight: 800;
line-height: 21px;
text-align: left;
color: #111111;
}