* {
  margin: 0px;
  padding: 0;
  /* box-sizing: border-box; container h2deki widthim hepsini bozuyor.*/
}

.container {
  background-image: url(/projeler/odevler2kopyası/shop/assets/foti/Sharp.jpg);
  width: 1440px;
  height: 1024px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.container h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 81px;
  letter-spacing: -0.8999999761581421px;
  text-align: center;
  padding-top: 354px;
  padding-left: 260px;
  padding-right: 260px;
  padding-bottom: 24px;
  color: #FFFFFF ;
  vertical-align: middle;
}

.container h2 {
  width: 720px;
  font-size: 30px;
  font-weight: 600;
  line-height: 37px;
  letter-spacing: -0.3499999940395355px;
  text-align: center;
  color: #FFFFFF;
  padding-left: 360px;
  margin-bottom: 40px;
  vertical-align: middle;
}

.buton {
  width: 214px;
  border-radius: 32px;
  padding: 16px, 40px, 16px, 40px;
  gap: 16px;
  border: 1px solid #094BAC;
  background-color: #094BAC;
  margin-left: 613px;
}

.buton h4 {
width: 134px;
font-family: Montserrat;
font-size: 23px;
font-weight: 600;
line-height: 32px;
text-align: center;
padding-top: 16px;
size: 23px;
color: #FFFFFF;
padding-left: 40px;
padding-bottom: 16px;
}