.anacerceve {
  width: 1440px;
  background-color: #05285B;
}

.anacerceve img {
  margin-top: 200px;
  margin-bottom: 202px; 
  float: right;
}

.kutu h2 {
font-size: 60px;
font-weight: 700;
line-height: 70px;
letter-spacing: -0.699999988079071px;
text-align: left;
color: #FFFFFF;
margin-left: 165px;
margin-bottom: 12px;
font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
padding-top: 248px;

}

.kutu p {
width: 500px;
font-size: 20px;
font-weight: 400;
line-height: 32px;
text-align: left;
color: #FFFFFF;
margin-bottom: 32px;
margin-left: 165px;
font-family: "Open Sans", sans-serif;
font-optical-sizing: auto;
}

.buton { 
  width: 130px;
 font-size: 23px;
 font-weight: 600;
 background-color: #DC3545;
 color: #FFFFFF;
 float: left;
 margin-left: 165px;
 border-radius: 3px;
 padding-left: 16px; 
 margin-bottom: 24px;
 font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
}

.buton p {
font-family: Montserrat;
font-size: 23px;
font-weight: 600;
line-height: 32px;
text-align: center;
color: #FFFFFF;
width: 137px;
}

.icon img {
  width: 17px;
  float: left;
  margin-left: 0px;
}

.icon p {
width: 97px;
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #FFFFFF;
margin-bottom: 384px;
font-family: "Open Sans", sans-serif;
font-optical-sizing: auto;
margin-left: 201px;
}