* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0 auto;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
}

.container {
  width: 1440px;
}

.header {
  width: 1111px;
  display: flex;
  margin-block: 64px;
}

.header a:hover {
  text-decoration:underline;
}

.header img {
  margin-right: 545px;
}

.header a {
  size: 14px;
  text-decoration: none;
  color: #333136;
}

.canada {
 display: flex;
 gap: 30px;
 margin-left: 165px;
 margin-bottom: 32px;
}

.left {
 width: 730px;  
 height: 326px;
 background-image: url(/projeler/odevler2kopyası/haftadortkopyası/assets/img/locationbackground.png);
 margin: 0px;
 padding-left: 95px;
}

.left h1 {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #E7816B;
  padding-top: 88px;
  padding-bottom: 24px;
}

.right {
  margin: 0px;
}

.us-nav {
  display: flex;
  gap: 24px;
  color: #333136;
}

.us-nav li {
  margin: 0px;
  list-style-type: none;
}

.australia {
  display: flex;
  gap: 30px;
  margin-left: 165px;
  margin-bottom: 32px;
 }
 
 .UnitedKingdom {
  display: flex;
  gap: 30px;
  margin-left: 165px;
  margin-bottom: 32px;
 }

 .direction {
  width: 1111px;
  height: 292px;
  background-image: url(/projeler/odevler2kopyası/haftadortkopyası/assets/img/homepagelast.png);
  position: relative;
  z-index: 1;
  top: 108px;
}

.yazilar {
  display: flex;
  align-items: center;
}

.yazilar a {
  color: #000;
  background-color: #FFFFFF;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 17px 19px;
  border-radius: 5px;
  margin-top: 100px;
  text-decoration: none;
}

.yazilar a:hover {
  background-color: #FFAD9B;
  color: #FFFFFF;
}

.yazilar h2 {
  margin-left: 95px;
  padding-top: 72px;
  font-size: 40px;
  font-weight: 500;
  color: #FFFFFF;
}

.yazilar p {
width: 459px;
font-size: 16px;
line-height: 26px;
margin-left: 95px;
color: #FFFFFF;
}

.nav {
  width: 1111px;
  display: flex;
  padding-top: 144px;
  margin-bottom: 40px;
  margin-block: 20px;
}

.nav img {
  margin-right: 545px;
}

.nav a {
  color: #FFFFFF;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

.shadowright {
  margin-right: auto;
  top: 1905px;
  position: absolute;
  z-index: -1;
}

.thelastbox  {
  background-color: #1D1C1E;
}

.thelastbox hr {
  width: 1111px;
  margin-bottom: 31px;
  color: #FFFFFF;
}

.aboutus {
  width: 700px;
  display: flex;
  gap: 24px;
  color: #FFFFFF;
  margin-left: 108px;
  bottom: 321px;
}

.aboutus li {
  list-style-type: none;
}

.picture {
  width: 184px;
  display: flex;
  margin-left: 1075px;
  margin-top: 0px;
  padding-bottom: 72px;
}

 
 

