* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0 auto;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
}

.container {
  width: 1440px;
}

.header {
  width: 1111px;
  display: flex;
  margin-block: 64px;
}

.header a:hover {
  text-decoration:underline;
}

.header img {
  margin-right: 545px;
}

.header a {
  size: 14px;
  text-decoration: none;
  color: #333136;
}

.inform {
  width: 1111px;
  height: 252px;
  background-image: url(/projeler/odevler2kopyası/haftadortkopyası/assets/img/Ovallasthomepage.png);
  margin-bottom: 160px;
}

.inform h1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #FFF;
  padding-top: 64px;
  padding-bottom: 24px;
}

.inform p {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FFF;
}

.sonpart {
  width: 1111px;
  height: 292px;
  background-image: url(/projeler/odevler2kopyası/haftadortkopyası/assets/img/homepagelast.png);
  position: relative;
  z-index: 1;
  top: 108px;
}

.yazilar {
  display: flex;
  align-items: center;
}

.yazilar a {
  color: #000;
  background-color: #FFFFFF;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 17px 19px;
  border-radius: 5px;
  margin-top: 100px;
  text-decoration: none;
}

.yazilar a:hover {
  background-color: #FFAD9B;
  color: #FFFFFF;
}

.yazilar h2 {
  margin-left: 95px;
  padding-top: 72px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 500;
  color: #FFFFFF;
}

.yazilar p {
width: 459px;
font-size: 16px;
line-height: 26px;
margin-left: 95px;
color: #FFFFFF;
}

.nav {
  width: 1111px;
  display: flex;
  padding-top: 144px;
  margin-bottom: 40px;
  margin-block: 20px;
}

.nav img {
  margin-right: 545px;
}

.nav a {
  color: #FFFFFF;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

.footer-nav {
  margin-left: 160px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 160px;
}

.footer-nav img {
  width: 350px;
}

.footer-nav h5 {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  padding-top: 32px;
  padding-bottom: 16px;
  letter-spacing: 4px;
  text-align: Center;
  color: #E7816B;
}

.footer-nav p {
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 32px;
  text-align: center;
  color: #333136;
}

.gallery {
  margin: 0px;
}

.writes {
  width: 350px;
  background-color: #FDF3F0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.writes:hover {
  background-color: #E7816B;
}

.writes:hover h5, .writes:hover p {
  color: #FFFFFF;
}

.directions {
  margin-left: 160px;
}

.directions {
  position: relative;
}

.directed-writing {
  position: absolute;
  top: 107px; 
  left: 80px;
  color: #FFFFFF;
  text-align: center;
}

.directed-writing h1 {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  padding-bottom: 24px;
}

.directed-writing p {
  font-weight: 500;
  font-size: 15px;
  line-height:21.68px;
  letter-spacing: 3px;
}

.directed-writing a {
  color: #FFFFFF;
  text-decoration: none;
}

.directed-writing-graph {
  position: absolute;
  top: 107px; 
  left: 683px;
  color: #FFFFFF;
  text-align: center;
}

.directed-writing-graph h1 {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  padding-bottom: 24px;
}

.directed-writing-graph p {
  font-weight: 500;
  font-size: 15px;
  line-height:21.68px;
  letter-spacing: 3px;
}

.directed-writing-graph a {
  color: #FFFFFF;
  text-decoration: none;
}

.directions img {
  padding-right: 20px;
  margin-bottom: 160px;
}

.thelastbox  {
  background-color: #1D1C1E;
}

.thelastbox hr {
  width: 1111px;
  margin-bottom: 31px;
  color: #FFFFFF;
}

.aboutus {
  width: 700px;
  display: flex;
  gap: 24px;
  color: #FFFFFF;
  margin-left: 108px;
  bottom: 321px;
}

.aboutus li {
  list-style-type: none;
}

.picture {
  width: 184px;
  display: flex;
  margin-left: 1075px;
  margin-top: 0px;
  padding-bottom: 72px;
}
