* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  box-sizing: border-box;
}

.anahead {
  width: 550px;
  border: 1px solid white;
  border-radius: 10px;
  margin-left: 600px;
  margin-top: 300px;
}

.head1 h4 {
  width: 58px;
  margin-left: 24px;
  margin-bottom: 18px;
  margin-top: 19px;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color: #212121;
}

.head2 h4 {
  width: 134px;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color: #212121;
  margin-left: 24px;
  margin-top: 14px;
}

.head2 p {
  width: 259px;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #807E7E;
  margin-left: 24px;
  margin-bottom: 14px;
}

.head3 h4 {
  width: 134px;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color: #212121;
  margin-left: 24px;
  margin-top: 14px;
}

.head3 p {
  width: 259px;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #807E7E;
  margin-left: 24px;
  margin-bottom: 14px;
}

.head4 h4 {
  width: 134px;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color: #212121;
  margin-left: 24px;
  margin-top: 14px;
}

.head4 p {
  width: 259px;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #807E7E;
  margin-left: 24px;
  margin-bottom: 14px;
}

.head5 h4 {
  width: 134px;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color: #212121;
  margin-left: 24px;
  margin-top: 14px;
}

.head5 p {
  width: 259px;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #807E7E;
  margin-left: 24px;
  margin-bottom: 14px;
}
 
.anahead hr {
  width: 500px;
  color: #EAEAEA;
}
