* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1440px;
  background-color: #FFFFFF;
}

.header {
  width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 32px;
}

.nav {
  margin-left: 309px;
  list-style: none;
  display: flex;
  gap: 48px;
}

.nav a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.header p {
  display: flex;
  align-items: center;
  margin-left: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header img {
  margin-right: 0px;
}

.kutu {
  width: 1440px;
  height: 784px;
  background-image: url(/projeler/odevler2kopyası/foodkopyası/assets/img/bigfatresmi.png);
  margin-bottom: 64px;
}

.kutu h1 {
  width: 920px;
  font-size: 80px;
  font-weight: 700;
  line-height: 81px;
  letter-spacing: -0.8999999761581421px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 259px;
  margin-left: 260px;
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.buton {
  width: 332px;
  border: 1px solid #FD7E14;
  background-color: #FD7E14;
  border-radius: 3px;
}

.buton p {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 64px;
  padding-right: 64px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.simge {
  width: 1110px;
  display: flex;
  justify-content: space-between;
  margin-left: 165px;
  margin-bottom: 112px;
}

.icon p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #212121;
  padding-top: 8px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  color: #212121;
}

.latest {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin-right: 165px;
  margin-left: 130px;
}

.gallery h6 {
  width: 260px;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: #212121;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.gallery img {
  display: block;
  max-width: 100%;
  margin-bottom: 8px;
}

.gallery {
  margin: 0;
}

.loadmore {
  width: 224px;
  border: 1px solid #121212;
  border-radius: 3px;
  margin-bottom: 80px;
}

.loadmore p {
  width: 128px;
  font-size: 23px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  color: #121212;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.inbox {
  width: 1110px;
  height: 352px;
  border: 1px solid transparent;
  border-radius: 3px;
  background-image: url(/projeler/odevler2kopyası/foodkopyası/assets/img/inboxfoto.png);
}

.inbox h3 {
  width: 426px;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.4000000059604645px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 96px;
  padding-bottom: 16px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.icerikbutonu {
  width: 327px;
  border: 1px solid #C4C4C4;
  background-color: #FFFFFF;
  background-image: url(/projeler/odevler2kopyası/foodkopyası/assets/img/Button.png);
  background-repeat: no-repeat;
  background-position: right;
}

.inbox p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #807E7E;
  padding-top: 12px;
  padding-left: 16px;
  padding-bottom: 12px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.video {
  width: 1440px;
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 165px;
}

.video img {
  width: 635px;
  float: right;
  margin-right: 165px;
  margin-bottom: 120px;
}

.video p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  background-image: url(/projeler/odevler2kopyası/foodkopyası/assets/img/yukselenicon.png);
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 30px;
  margin-bottom: 16px;
  margin-top: 81px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.video h2 {
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -0.699999988079071px;
  text-align: left;
  color: #212121;
  margin-bottom: 32px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.seerecipe {
  width: 252px;
  border: 1px solid #FD7E14;
  background-color: #FD7E14;
  border-radius: 3px;
  margin-left: 0px;
  margin-bottom: 328px;
}

.seerecipe h6 {
  width: 124px;
  font-size: 23px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.sonkutu {
  margin-top: 0px;
  width: 1110px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container h5 {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  text-align: left;
  color: #212121;
  margin-left: 165px;
  margin-bottom: 32px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.sonkutu img { 
  display: block;
  max-width: 100%;
  gap: 24px;
}

.sonkutu h6 {
  width: 543px;
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: -0.3499999940395355px;
  text-align: left;
  color: #212121;
  margin-bottom: 77px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.container hr {
  width: 1440px;
  color: #EAEAEA;
  margin-bottom: 56px;
}

.sonuncu {
  width: 1110px;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  padding-block: 32px;
  align-content: stretch;
}

.nav2 {
  margin-left: 672px;
  list-style: none;
  display: flex;
  gap: 48px;
  margin-bottom: 160px;
}

.nav2 a {
  width: 69.33px;
  margin-bottom: 160px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.kontak p {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-left: 0px;
  margin-bottom: 0px;
}

.kontak img {
  float: right;
  padding-left: 20px;
 } 
