* {
 margin: 0px;
 background-image: url(/projeler/odevler2kopyası/bigburger/assets/foti/background.png);
 box-sizing: border-box;
}
.container {
  width: 1440px;
}
.foto {
  margin-top: 133px;
  margin-left: 537px;
}

.big {
width: 517px;
margin-left: 165px;
margin-top: -900px;
font-family: Montserrat;
font-size: 140px;
font-weight: 700;
line-height: 127px;
letter-spacing: -1.5750000476837158px;
text-align: left;
color: #FFFFFF;
font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.text {
  width: 517px;
  margin-left: 190px;
  margin-top: 35px;
  margin-bottom: 35px;
  line-height: 34px;
  color: white;
  font-family: Montserrat;
  font-size: 24px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.button {
  width: 294px;
  border: 1px solid #FFFFFF;
  border-radius: 100px;
  margin-left: 165px;
  margin-bottom: 34px;
}

.button h3 {
width: 125px;
font-family: Montserrat;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: -0.4000000059604645px;
text-align: center;
color: #FFFFFF;
font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
padding-left: 122px;
padding-top: 26px;
padding-bottom: 24px;
}

.button img {
  float: left;
}

.box {
  width: 54px;
  margin-top: 40px;
  margin-left: 190px;
  padding-right: 81px;
  padding-top: 4px;
}

.text2 {
  width: 69px;
  margin-top: -45px;
  margin-left: 260px;
  font-size: 12px;
  line-height: 21px;
  color: white;
  margin-bottom: 20px;
}

.text3 {
  width: 60px;
  margin-top: -20px;
  margin-left: 260px;
  font-weight: 700px;
  font-size: 10px;
  line-height: 24px;
  color: white;
}