 * {
  margin: 0;
  margin-inline: auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
 }

.container {
    width: 1440px;
    padding-top: 64px;
    margin-left: 165px;
    margin-right: 165px;
}

.container p {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.header h1 {
  width: 800px;
  margin-bottom: 40px;
  font-size: 60px;
  margin-left: 165px;
}

.header h2 {
  padding: 12px;
   font-size: 30px;
   margin-bottom: 12px;
   margin-left: 150px;
}

.socialmedia {
  margin-inline: 180px;
}

.latest {
  margin-inline: auto;
}

.projecttitle {
  margin-top: 80px;
 margin-left: 165px;
}

.kfc {
  width: 1110px;
  padding: 24px;
  margin-left: 165px;
  margin-bottom:80px ;
  margin-top: 40px;
  border: 1px solid #C4C4C4;
  border-radius: 12px;
}

.kfc h2 {
  width: 669px;
  size: 30px;
  margin-top: 24px;
  margin-left: 24px;
  margin-bottom: 12px;
}

.kfc p {
width: 669px;
size: 16px;
margin-left: 24px;
margin-bottom: 64px;

}

.everyday {
  width: 1110px;
  border-radius: 12px;
  border: 1px solid #C4C4C4;
  margin-bottom: 80px;
  margin-left: 165px;
  padding: 24px;
}

.everyday h2 {
  width: 669px;
  size: 30px;
  margin-left: 24px;
  margin-bottom: 12px;
  margin-top: 24px;
}

.everyday p {
  width: 669px;
  size: 16px;
  margin-left: 24px;
  margin-bottom: 64px;
}

.early {
  width: 1110px;
  border-radius: 10px;
  margin-left: 165px;
  border: 1px solid #C4C4C4;
  padding: 24px;
}

.early h2 {
  width: 669px;
  size: 30px;
  margin-left: 24px;
  margin-bottom: 12px;
  margin-top: 24px;
}

.early p {
  width: 630px;
  margin-left: 24px;
  margin-bottom: 80px;
}

.reach {
  width: 569px;
  border: 1px solid #FFFFFF;
  margin-left: 165px;
  margin-top: 200px;
}

.reach h3 {
  size: 20px;
  margin-bottom: 24px;
  margin-left: 165px;
}

.reach h1 {
  width: 445px;
  margin-left: 165px;
}