* {
  margin-inline: auto;
  /* background-color: #E6F0FF; */
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  box-sizing: border-box;
}

.anakutu {
  margin-top: 200px;
  width: 924px;
  border: 1px solid white;
  background-color: #E6F0FF;
}

.anakutu img {
  width: 269px;
  float: right;
  margin-top: 43px;
  margin-bottom: 42px;
  margin-right: 76px;
}

.kutu {
  width: 447px;
  margin-top: 68px;
  margin-left: 64px;
  margin-bottom: 92px;
}

.kutu h6 {
 width: 144px;
 font-family: Montserrat;
 font-size: 20px;
 font-weight: 600;
 line-height: 30px;
 text-align: left;
 color: #212121;
 margin-left: 64px;
 margin-bottom: 4px;
}

.kutu h3 {
  width: 447px;
 font-family: Montserrat;
 font-size: 40px;
 font-weight: 700;
 line-height: 48px;
 letter-spacing: -0.4000000059604645px;
 text-align: left;
 color: #212121;
 margin-left: 64px;
 margin-bottom: 24px;
 margin-top: 4px;
}

.buton {
  width: 214px;
  background-color: #0D6EFD;
  border: 1px solid #0D6EFD; 
  border-radius: 50px;
  margin-bottom: 0px;
  margin-left: 64px;
}

.buton h2 {
width: 134px;
font-family: Montserrat;
font-size: 23px;
font-weight: 600; 
line-height: 32px;
text-align: center;
color: #FFFFFF;
padding: 16px, 40px;
}