* {
margin: 0;
margin-inline: auto;
box-sizing: border-box;
font-family: "Red Hat Display", sans-serif;
font-optical-sizing: auto;
}

.temel {
  width: 450px;
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding-bottom: 53px;
  margin-top: 102px;
  margin-bottom: 166px;
}

.temel h1 {
  width: 354px;
  font-family: Red Hat Display;
  font-size: 28px;
  font-weight: 900;
  line-height: 37.04px;
  text-align: center;
  margin-top: 56px;
  margin: 48PX;
  margin-bottom: 17px;
}

.bir {
  width: 354px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #717FA6;
  margin-bottom: 58px;
}

.buton {
  width: 354px;
  border: 1px solid #382AE1;
  background-color: #382AE1;
  border-radius: 10px;
  margin-top: 58px;
  margin-bottom: 19px;
}

.buton p {
 padding-bottom: 17px;
 color: #FFFFFF;
 font-size: 15px;
 font-weight: 900;
 line-height: 19.85px;
 text-align: left;
 margin-top: 17px;
 margin-left: 102px;

}

.baglantı {
width: 96px;
font-size: 15px;
font-weight: 900;
line-height: 19.85px;
text-align: left;
margin-left: 176px;
margin-bottom: 53px;
}